In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB,GaussianNB
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [3]:
data=pd.read_csv("C:\\Users\\Thinkpad\\Desktop\\spam.csv")

In [4]:
data.head()

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
data.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [6]:
# splitting the data into training and testing

In [7]:
x=data["EmailText"]
y=data["Label"]

In [8]:
x_train,y_train=x[0:4457],y[0:4457]

In [9]:
x_test,y_test=x[4457:],y[4457:]

In [10]:
# extract features

In [12]:
cv=CountVectorizer()
features=cv.fit_transform(x_train)

In [13]:
## build a model

In [14]:
model = svm.SVC()

In [15]:
model.fit(features,y_train)

SVC()

In [16]:
features_test=cv.transform(x_test)

In [17]:
# test accuracy

In [18]:
print("Accuracy of the model is:",model.score(features_test,y_test))

Accuracy of the model is: 0.9856502242152466