In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data=pd.read_csv("C:\\Users\\Thinkpad\\Desktop\petrol.csv")

In [3]:
data.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [4]:
### performing eda

In [5]:
data.tail()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
43,7.0,3745,2611,0.508,591
44,6.0,5215,2302,0.672,782
45,9.0,4476,3942,0.571,510
46,7.0,4296,4083,0.623,610
47,7.0,5002,9794,0.593,524

In [6]:
data.shape

(48, 5)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [8]:
data.isnull().sum()

Petrol_tax                      0
Average_income                  0
Paved_Highways                  0
Population_Driver_licence(%)    0
Petrol_Consumption              0
dtype: int64

In [9]:
data.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [10]:
data.corr()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
Petrol_tax,1.000000,0.012665,-0.522130,-0.288037,-0.451280
Average_income,0.012665,1.000000,0.050163,0.157070,-0.244862
Paved_Highways,-0.522130,0.050163,1.000000,-0.064129,0.019042
Population_Driver_licence(%),-0.288037,0.157070,-0.064129,1.000000,0.698965
Petrol_Consumption,-0.451280,-0.244862,0.019042,0.698965,1.000000

In [11]:
# train_test_split

In [12]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [13]:
x.shape

(48, 4)

In [14]:
y.shape

(48,)

In [15]:
y = y.reshape(-1)

In [16]:
y

array([541, 524, 561, 414, 410, 457, 344, 467, 464, 498, 580, 471, 525,
       508, 566, 635, 603, 714, 865, 640, 649, 540, 464, 547, 460, 566,
       577, 631, 574, 534, 571, 554, 577, 628, 487, 644, 640, 704, 648,
       968, 587, 699, 632, 591, 782, 510, 610, 524], dtype=int64)

In [17]:
# data normalization

In [18]:
from sklearn import preprocessing
x=preprocessing.StandardScaler().fit_transform(x)
x

array([[ 1.4154413 , -1.18184136, -1.03892124, -0.8259031 ],
       [ 1.4154413 , -0.26396904, -1.24905478,  0.03036408],
       [ 1.4154413 , -0.66388654, -1.1518029 ,  0.17611169],
       [-0.17892312,  1.10667332, -0.93038119, -0.7530293 ],
       [ 0.35253169,  0.27688855, -1.48610625, -0.47975254],
       [ 2.47835091,  1.93821984, -1.22503125,  0.01214563],
       [ 0.35253169,  1.89769956,  1.82422057, -2.17406847],
       [ 0.35253169,  1.5576816 , -0.99203194, -0.31578648],
       [ 0.35253169,  0.3614526 ,  0.87167309, -0.7530293 ],
       [-0.71037792,  0.47596642,  0.85141228, -0.33400493],
       [ 0.35253169,  0.26279454,  0.10813001, -0.73481085],
       [-0.17892312,  1.5576816 ,  2.4951428 , -0.8259031 ],
       [-0.71037792,  1.01330051,  0.39496518,  0.06680099],
       [-0.71037792, -0.06136766,  0.29366114, -0.46153409],
       [-0.71037792,  0.15885122,  0.75068711,  0.68622832],
       [-0.71037792,  0.13418671,  1.38195604,  0.2854224 ],
       [-0.71037792, -0.06312941,  0.85170172,  0.03036408],
       [-0.71037792, -0.92286395, -0.24325031, -0.55262634],
       [-0.71037792,  0.83536365,  0.10118345,  2.79956861],
       [ 0.88398649,  0.17470698,  0.12868026,  1.94330142],
       [-0.71037792,  0.61866826,  0.65661907,  1.68824311],
       [ 0.35253169,  1.30575119, -1.43661199,  0.57691761],
       [ 1.4154413 ,  1.1542406 , -0.90201606, -1.08096142],
       [ 1.4154413 ,  0.02848164, -0.25453848, -0.97165071],
       [ 0.88398649,  0.58519499, -0.85281124, -0.35222338],
       [ 1.4154413 , -0.9175787 , -0.23717207, -0.47975254],
       [ 0.35253169, -1.39853675, -0.04816766, -0.40687874],
       [-0.17892312, -0.69735981,  1.01176211,  0.15789324],
       [ 0.35253169, -0.09484093,  0.11854986, -0.13360197],
       [ 1.4154413 , -1.12898883, -0.26495832, -1.40889353],
       [-0.71037792, -1.06028054,  0.38772918, -0.95343226],
       [-0.71037792, -1.60113813,  0.2977133 , -1.04452452],
       [ 0.35253169, -2.07681092,  0.27745249,  0.13967479],
       [-0.17892312, -1.5588561 , -0.41807215, -0.42509719],
       [ 0.35253169, -1.25759666, -0.59926168, -1.51820424],
       [-1.15679996, -0.77487686,  0.65661907,  1.06881578],
       [-2.83619714, -0.34677134,  3.53596953, -0.07894662],
       [-0.71037792, -0.60751051,  0.23722031,  0.2854224 ],
       [ 0.88398649, -1.06908929, -0.66322795,  1.68824311],
       [-0.71037792,  0.18175399, -0.48059122,  1.85220917],
       [-0.71037792,  0.3649761 , -0.26814217,  1.01416043],
       [-0.71037792, -1.03209252, -0.45743601, -0.13360197],
       [-0.71037792,  0.10247519, -0.55874006,  0.59513606],
       [-0.71037792, -0.87529667, -0.85512676, -1.13561677],
       [-1.77328753,  1.71447745, -0.94456376,  1.85220917],
       [ 1.4154413 ,  0.41254338, -0.46988194,  0.01214563],
       [-0.71037792,  0.09542818, -0.42907088,  0.95950508],
       [-0.71037792,  1.33922446,  1.22392173,  0.41295155]])

In [19]:
# linear regression

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y ,test_size = 0.4,random_state=10)

In [21]:
from sklearn.linear_model import LinearRegression
lnr = LinearRegression()
lnr.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred = lnr.predict(x_test)
print(lnr.coef_)
print(lnr.intercept_)

[-37.04316976 -50.13828678 -16.0781444   85.8917951 ]
585.3014319690985

In [23]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.7161227953395611

In [24]:
prediction_output=pd.DataFrame(data=[y_test,y_pred],index=['y_test','y_pred'])
prediction_output.transpose()

    y_test      y_pred
0    644.0  748.249257
1    547.0  452.076662
2    632.0  666.578959
3    587.0  684.736094
4    510.0  520.782821
5    649.0  715.046130
6    414.0  486.722372
7    571.0  576.650757
8    467.0  482.969619
9    344.0  261.030411
10   704.0  662.776997
11   561.0  599.800536
12   648.0  761.827782
13   577.0  683.906280
14   580.0  494.213720
15   540.0  579.424957
16   487.0  514.530012
17   631.0  624.188214
18   865.0  808.565511
19   554.0  597.391641